# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
ENV/
.env
*.env

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# VS Code
.vscode/
*.code-workspace

# System
.DS_Store
Thumbs.db
__MACOSX/

# Temporary files
*.tmp
*.cache/
.cache/
*.bak
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/
